.chip {
    padding: 6px 12px;
    /* border: 1px solid rgb(11, 87, 208, 0.5); */
    border: 1px solid rgb(11, 87, 208);
    border-radius: 8px;
    display: inline-block;
    font-size: 14px;
    color: rgb(11, 87, 208);
    margin: 0.1em;
}