@font-face {
  font-family: "Outfit-Medium";
  src: url("fonts/Outfit-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto-Medium.ttf");
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: "Outfit-Medium"; */
  font-family: "Roboto-Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: white;
  background-size: cover;
  padding: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  /* display: grid;
  grid-auto-flow: dense;
  grid-gap: 2em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 0 auto; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  /* grid-template-areas:
    "name         stat        top-song  ."
    "site-title   stat        top-song  ."
    "top-genre    top-genre   top-song  ."
    "top-genre    top-genre   top-song  ."; */
  grid-template-areas:
    "name         .           .           ."
    "top-genre    top-artist  top-artist  top-song"
    "top-genre    top-artist  top-artist  top-song"
    "top-genre    top-artist  top-artist  top-song"
    ".            .           .           top-song"
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
    "name         top-genre   top-genre   top-genre"
    "top-artist   top-artist  top-song    top-song"
    "top-artist   top-artist  top-song    top-song"
    "top-artist   top-artist  top-song    top-song"
    ".            .           .           ."
  }
}
